body{
    background-color: grey;
}
.start-button,
.info-box{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.start-button{
    font-size: 25px;
    font-weight: 500;
    color:bisque;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: blue;
    cursor: pointer;

}
.info-box{
    width: 540px;
    background-color: aliceblue;
    border-radius: 5px; 
}
.info-box .info-title
{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: o 35px;
    font-size: 20px;
    font-weight: 600;
}
.info-box .infoList{
padding: 15px 35px;
}
